head
  meta(charset='utf-8')
  title Uyum Testi
  link(rel="icon" href="https://i3.posta.com.tr/i/posta/75/750x0/62e8c543e4bfdc11105869b4" type="image/png")
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            h4#myModalLabel.modal-title
              | UYUM TESTİ
          if result !=false 
              p.m-5 SONUÇ (0-100):
          if result == false  
            .modal-body
              form(role='form' method='POST' action ='/see')
                  div.form-group
                      label(for='text') Kızın ismi
                      input#name.form-control( type='text', placeholder='kızın ismi' name='girl',required)
                  div.form-group
                      label(for='password') Oğlanın ismi
                      input#name.form-control(type='text', placeholder='oğlanın ismi' name='boy',required)
                  
                  button.btn.btn-primary(type="submit") Sonucu Gör
          #result
          
          if result=="1000"
            img(src="https://www.bilimseldunya.com/wp-content/uploads/2022/03/Sonsuz-Sayi-1-Kactir.jpg", alt="Resim yüklenemedi", width="300")
            .h3 Mükemmelsiniz
          else if result!=false
            p #{result}
            a(href="/") Başka test için tıkla
          // Modal Footer
          .modal-footer


    // footer
